{% extends "learning_logs/base.html" %}
	{% block header %}
	<div class='jumbotron'>
 <h1 align="center">Track your learning</h1>
 </div>
{% endblock header %}
{% block content %}

 {% if user.is_authenticated %}
 <h2>
Всякий раз, когда вы узнаете что-то новое о теме, сделайте запись
 подводя итог тому, что вы узнали.
 </h2>
 {% else %}
	<h2>
 <a href="{% url 'users:register' %}">Пройдите регистрацию</a> чтобы начать вести записи.
 </h2>
 <h2>
Всякий раз, когда вы узнаете что-то новое о теме, сделайте запись
 подводя итог тому, что вы узнали.
 </h2>
 {% endif %}


{% endblock content %}